{% extends 'base.html' %}

{% block title %}log{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <table class="table mt-5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Chat Id</th>
            <th>Role</th>
            <th>Content</th>
            <th>Token</th>
            <th>Create Time</th>
        </tr>
        </thead>
        <tbody>
        {% for row in result %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="..." class="mt-5">
        <ul class="pagination">
            <li class="page-item {% if page_num-1 <= 0 %} disabled {% endif %}">
                <a class="page-link" {% if page_num-1> 0 %} href="/logs?page_num={{page_num-1}}" {% endif
                    %}>Previous</a>
            </li>
            {% for num in range(total_page) %}
            {% if num+1 == page_num %}
            <li class="page-item active" aria-current="page">
                {% else %}
            <li class="page-item" aria-current="page">
                {% endif %}
                <a class="page-link" href="/logs?page_num={{num+1}}">{{num+1}}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page_num+1 > total_page %} disabled {% endif %}">
                <a class="page-link" {% if page_num+1 <= total_page %} href="/logs?page_num={{page_num+1}}" {% endif %}>Next</a>
            </li>
            <li class="page-item ml-5 disabled">
                <a class="page-link">Total number : {{total_num}}</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}